@import "../setup/variables.scss";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: montserrat, sans-serif;
  line-height: 1.6;
  background-attachment: fixed;
  background-color: rgb(77, 77, 95);
}

body {
  margin: 0;
  background-size: cover;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  max-width: 72ch;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  color: $clr6;
  cursor: pointer;
  outline: none;
  padding: 0;
}

::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  z-index: 12;
  overflow: visible;
  background-color: rgb(5, 5, 5);
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: darken($clr2, 10%);
  border-radius: 8px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}
