// Colors
$clr1: #83519b;
$clr2: #3878a7;
$clr3: #187bcf;
$clr4: #1f2335;
$clr5: #2c324a;
$clr6: #ffffff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;